
<div id="recipe_container">
  <div id="recipe_image"> <p> image coming soon </p> </div>
  <div id="recipe_preview_title"> <%= @recipe.title %> </div>
  <div id="recipe_preview_description"> <%= @recipe.description %> </div>
  <div id="ingredients"> 
    <h2> Ingredients </h2>
    <%= @recipe.ingredients %> </div>
  <div id="instructions"> 
    <h2> Instructions </h2>
    <%= @recipe.instructions %> </div>


</div>