
<div> 
  <p class="donation_text"> Find this site useful? Want to show your appreciation by helping out with the hosting costs? </p>
  <p class="donation_text"> Donate via paypal to *paypal account* </p>
  
</div>