 <% Recipe.all.each do |recipe| %>

 <div id="preview_outline"> <a href="recipes/<%= recipe.id %>">
  
  <div id="picture"> <p> pictures soon </p> </div>

  <div id="title"> <%= recipe.title %> </div>
      
  <div id="description"> <p> <%= recipe.description %> </p> </div>
  
 </a>

 </div>

 <% end %>
