/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
#header {
  width: 980px;
  height: 330px;
  text-align: center;
  background-color: #CC95FF;

}

#header_image {
  height: 298px;
  width: 980px;
  background-color: #CC95FF;

}

#navigation {
  width: 80%;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons {
  width: 196px;
  height: 30px;
  float: left;
  background-color: #FFA2F4;
  border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#container {
  width: 980px;
  height: 1080px;
  margin-right: auto;
  margin-left: auto;
  background-color: #7F697C;
  border: 1px solid black; 
}

#preview_outline {
  height: 252px;
  width: 980px;
  background-color: #FFD3F7;
  margin-top: 10px;
}
  
#picture{
  height: 250px;
  width: 250px;
  border: 1px solid black;
  float: left;
} 
    
#title {
  height: 30px;
  width: 713px;
  background-color: #FFD3F7;
  float: left;
  padding-left: 15px;
}
      
#description {
  width: 713px;
  height: 210px;
  float: left;
  padding-left: 15px;
  background-color: #CCA9C6;

}

.donation_text {
  text-align: center;
  margin-top: 25px;
}

#mail_text {
  text-decoration: none;
  color: red;
}

#text_pages {
  height: 300px;
  width: 90%;
  background-color: #FFD3F7;
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}