/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
#header {
  width: 980px;
  height: 330px;
  text-align: center;
  background-color: #CC95FF;

}

#header_image {
  height: 298px;
  width: 980px;
  background-color: #CC95FF;

}

#navigation {
  width: 80%;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.buttons {
  width: 196px;
  height: 30px;
  float: left;
  background-color: #FFA2F4;
  border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


#container {
  width: 980px;
  min-height: 1080px;
  margin-right: auto;
  margin-left: auto;
  background-color: #7F697C;
  border: 1px solid black; 
  padding-bottom: 10px;
}

#preview_outline {
  height: 252px;
  width: 95%;
  background-color: #FFD3F7;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
}
  
#picture{
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius:15px 0px 0px 15px;
  float: left;
  background-color: #7F697C;
} 
    
#title {
  height: 30px;
  width: 664px;
  background-color: #FFD3F7;
  float: left;
  padding-left: 15px;
  border-radius: 15px;
}
      
#description {
  width: 664px;
  height: 222px;
  float: left;
  padding-left: 15px;
  background-color: #CCA9C6;
  border-radius: 0px 0px 15px 0px;

}

.donation_text {
  text-align: center;
  margin-top: 25px;
  font-size: 150%;
}

#mail_text {
  text-decoration: none;
  color: red;
}

#text_pages {
  height: 300px;
  width: 95%;
  background-color: #FFD3F7;
  border-radius: 15px;
  padding-top: 20px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}

#recipe_container {
  width: 95%;
  min-height: 900px;
  background-color: #FFD3F7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;

}

#recipe_image {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  border-radius:15px;
  float: left;
  background-color: #7F697C;
}

#recipe_title {
  height: 30px;
  width: 654px;
  background-color: #FFD3F7;
  float: left;
  padding-left: 25px;
  border-radius: 0px 15px 0px 0px;

}

#recipe_description {
  width: 664px;
  height: 222px;
  float: left;
  padding-left: 15px;
  background-color: #FFD3F7;
  border-radius: 0px 0px 15px 0px;
}

#ingredients {
  width: 100%;
  float: left;
  padding-top: 35px;
  background-color: #FFD3F7;
  border-radius: 0px 0px 0px 0px;
}

#instructions {
  width: 100%;
  float: left;
  padding-top: 25px;
  background-color: #FFD3F7;
  border-radius: 0px 0px 15px 15px;
}

#form_outline {
  width: 95%;
  min-height: 900px;
  background-color: #FFD3F7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
}