<!DOCTYPE html>
<html>
<head>
  <title>SousChef</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="header_image"> Header Image </div>
    <div id="navigation">
      <ul> 
        <a href="/"> <li class="buttons"> Home </li> </a>
        <a href="/recipes"> <li class="buttons"> Add Recipe </li> </a>
        <a href="/donate"> <li class="buttons"> Groups </li> </a>
        <a href="/contact"> <li class="buttons"> Contact </li> </a>
      </ul>
     </div>

   </div>


<%= yield %>

</div>
</body>
</html>
